.slider-container {
    max-width: 100%;
    padding: 20px;
  }
  
  .bannerit{
    background-image: url("../Assetit/Frame\ 4.png");
  }
  .card1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%; 
    margin: 0 auto;
    height: 100%;
  }
 
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #0579C6;
  }
  
  .swiper-pagination-bullet {
    background: #0579C6;
  }
  
  .swiper-pagination-bullet-active {
    background: #0579C6;
  }
  
  .slider-container {
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 80%; /* Increase card width */
    margin: 0 auto; /* Center the card */
    transition: transform 0.3s ease; /* Smooth transition for transform changes */
  }
  
  .card:hover {
    /* Remove or modify the transform property */
    transform: scale(1.05); /* Example: slightly enlarge the card on hover */
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #0579C6;
  }
  
  .swiper-pagination-bullet {
    background: #0579C6;
  }
  
  .swiper-pagination-bullet-active {
    background: #0579C6;
  }
  