.bgcolordm{
    background-color: #000932;
}
.textbannercolor{
    color:#55C7CE

}
.colorbtndm{
    background-image: linear-gradient(to right, #55CEA2,#9EFEA2);
    color: black;
    font-weight: bold;
}
