.carousel{
    background-color: #DAF0FF;
    border-radius: 25px; 
    margin: 0 auto; 
}
.sizdm{
    min-height: 60%;
}
.carousel-caption {
    min-height: 60%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
  }
  /* .slide1 {
    background-color: #ff9999;
  }
  .slide2 {
    background-color: #99ccff;
  }
  .slide3 {
    background-color: #ffcc99;
  } */