.sizee{
    /* height: 70vh; */
    border-radius: 10%;
    height: 100%;
    
}
.backhead{
    background-color: #33225E;
    border-radius: 20%;
}
/* .font{
    font-family: 'Blackadder ITC';
} */
p{
    text-align: justify;
}


.boder{
    border: 1px solid black;
    border-radius: 10px;
}
.backhead{
    background-color: #33225E;
}
.back{
    background-color: #F0F7FD;
    border-radius: 5%;
}