.doodlebg{
    background-image: url("../Assetit/bgdoodle.png");
}
.vision{
    background-color: #7DD4F9;
   
}
.mission{
    background-color: #0D2D57;
    color: white; 
}
.clrbox {
     background-color: rgba(5, 121, 198, 0.1) !important; 
}
@media (max-width:425px){
   .imb1{
    height: 200px;
    width: 300px;
   } 
}
@media (min-width:700px){
    .imb1{
       
        height: 350px;
        width: 450px;
    }
  }
  
  @media (min-width:700px){
    .imb2{
        height: 400px;
        width: 400px;
    }
  }
  
  @media (min-width:700px){
    .imb3{
        height: 350px;
        width: 500px;
    }
  }
  
  @media (max-width:425px){
    .imb3{
      display: none;
    }
    .imb1{
      height: 250px;
      width: 300px;
    }
    }

ul li{
  line-height: 30px;
}
p{
  line-height: 30px;
}

.lhviews{
  font-size: 16px;
}