/* .bgcolor{
  background-color: #291571;
}
.navmain{
  position: sticky;
  top: 0;
  z-index: 9;
}
.nav-link{
  cursor: pointer;
}
@media (max-width:425px){
  .siz{
    width: 70px !important;
    height: 60px;
    margin-left: 5% !important;
  }
}
@media (min-width:426px){
  .siz{
    margin-left: 10%;
   
  }
} */




.bgcolor {
  background-color: #291571;
}

.navmain {
  position: sticky;
  top: 0;
  z-index: 1000 !important; /* Ensure the navbar is above other elements */
}

.nav-link {
  cursor: pointer;
}

/* Ensure dropdown menus are visible above other content */
.dropdown-menu {
  z-index: 1050 !important; /* Bootstrap's default z-index for dropdowns */
}

/* Responsive adjustments */
@media (max-width: 425px) {
  .siz {
      width: 70px !important;
      height: 60px;
      margin-left: 5% !important;
  }
}

@media (min-width: 426px) {
  .siz {
      margin-left: 10%;
      /* width: 20%; */
  }
}






