.bannerpage{
    
    background-color: #000932;
    color: #fff;
}
.main-text{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.explorebutton{
    color: #000932;
    background-color: #30B4EE;
    border-radius: 18px;
    border: 0px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
.subtext{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500; 
}


.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.aboutimg {
    width: 100%;
    height: auto;
}

.aboutheading {
    font-size: 2rem;
    font-weight: bold;
}

.aboutcontent {
    font-size: 1rem;
    line-height: 1.5;
}

.aboutbg {
    background-color: #f8f9fa;
    padding: 20px 0;
}
.parasap{
    text-align: justify;
}
@media (max-width:425px){
    .main-text{
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    }
}