
.banner-image {
    width: 100%; /* Set the initial width to fill the container */
    height: auto; /* Maintain aspect ratio */
  }
  
  @media (min-width: 768px) {
    .col-md-5 {
      width: 60%; /* Increase the width of the column on medium screens */
    }
  }
  
  @media (min-width: 992px) {
    .col-md-5 {
      width: 70%; /* Further increase the width of the column on large screens */
    }
  }
  
