.backgrounddnursing{
    background-image: url("../Assest/Banner.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
@media only screen and (max-width: 500px){
    .backgrounddnursing{
        background-image: url("../Assest/mobile-banner-390-x-844\ \(1\).jpg");
        background-repeat: no-repeat;
        background-size:cover;
        height: 100vh;
    }
}
.bor{
    border: 1px solid white!important;
}