.servicestextcolor{
    color: #58D0A2;
}

.gallery-item {
    position: relative;
    width: 100%; /* You can adjust the width as needed */
    margin-bottom: 20px; /* Adjust spacing between items */
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
  }
  
  .hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust background color and opacity */
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover .hover-text {
    opacity: 1; /* Show on hover */
  }
  
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    width: auto; /* Set your desired image size */
    height: auto;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay p {
    text-align: center;
    font-size: 15px;
}

.image-wrapper:hover img {
    transform: scale(1.1); /* Change scale factor for desired zoom effect */
}

.image-wrapper:hover .overlay {
    opacity: 1;
}


@media (max-width:568px){
  .overlay{
    font-size: 12px;
    text-align: start;
  }
}

  