.backgroundd{
    height: 60vh;
}
.textred{
    color: rgb(214, 81, 81);
}
.textback{
    background-color: rgba(0, 0, 0, 0.189);
}
/* banner.css */
.carousel-inner {
    height: 500px; /* Set the height of the carousel */
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container without stretching */
  }
  
  .carousel-caption {
    bottom: 20%;
  }
  
  @media (max-width: 768px) {
    .carousel-caption h1, .carousel-caption h5 {
      font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
  }
  
