.sideborder{
    border-right: 3px solid black;
}
.flexing1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text-primarycolor{
    color: #291571;
}
.credtext{
    font-weight: 600;
}