 /* .exptext{
    text-align: center;
}

.exp {
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(26, 19, 226, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    text-align: center;
} 

 */

.container-fluid {
    padding: 0;
    margin: 0;
  }
  
  .exp {
    text-align: center;
    padding: 20px 0;
  }
  
  .exptext {
    margin-bottom: 20px;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .hover-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Asset/gradient-wavy-background_23-2149112675.avif");
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
  }
  
  .hover-card ul {
    padding: 0;
    margin: 0;
    text-align: left;
    color: white;
    font-weight: 500;
   
  }
  
  .hover-card ul li {
    margin: 10px 0;
    list-style: disc;
  }
  
  .image-container:hover .hover-card {
    opacity: 1;
  }
  