.sapdemopage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  .book-demo-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .Modal {
    position: absolute;
    top: 30%;
    left: 30%;
    right: auto;
    bottom: auto;
    marginRight: '-50%';
    transform: 'translate(-50%, -50%)';
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .demo-form {
    display: flex;
    flex-direction: column;
  }
  
  .demo-form label {
    margin-bottom: 10px;
  }
  
  .demo-form input {
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
  }
  
  /* .send-otp-button,.submit-button,.close-button {
    padding: 10px;
    margin-top: 15px; 
   cursor: pointer;
  } */
  
  .close-button {
    background-color: #f44336;
    color: white;
  }
  
  .close-button {
    /* Your existing styles */
    font-size: 16px; /* Adjust as needed */
    transition: transform 0.2s ease; /* Add a transition effect */
  }
  
  .close-button:hover {
    transform: scale(1); /* Keep the scale consistent on hover */
  }

  
