.bgcolor{
  background-color: #291571;
}
.navmain{
  position: sticky;
  top: 0;
  z-index: 9;
}
.nav-link{
  cursor: pointer;
}
@media (max-width:425px){
  .siz{
    width: 70px !important;
    height: 60px;
    margin-left: 5% !important;
  }
}
@media (min-width:426px){
  .siz{
    margin-left: 10%;
  }
}